p {
    color: white
}

h1 {
    color: white
}

a {
    color: rgb(133, 133, 133)
}

body {
    cursor: url("assets/images/cursor.jpg"), url("assets/images/cursor.jpg"), url("assets/images/cursor.jpg"), auto;
}

html {
  scroll-behavior: smooth;
}

button {
    border: none;
    padding: 12px 32px;
    border-radius: 3px;
    text-decoration: wavy;
    font-size: 100;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}
